# Assignment 3

### Write a function to count the number 4 in a given list.

In [29]:

# Python code to count the number of occurrences
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count
 
# Driver Code
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x, countX(lst, x)))

8 has occurred 5 times

### write a  function to check whether a number is divisible by another number.

> Indented block

In [38]:
def divisible(x, y):
  if (x % y == 0):
      print("a number is divisible by another number.")
  else :
        print("a number is not divisible by another number.")
        return
x = 7
y = 5
divisible(x, y)

a number is not divisible by another number.

### OR

In [39]:
def multiple(m, n):
	return True if m % n == 0 else False

print(multiple(20, 5))
print(multiple(7, 2))

True
False

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [50]:
def max_min(data):
  l = data[0]
  s = data[0]
  for num in data:
    print(l,s)
    if num> l:
      l = num
    elif num< s:
        s = num
  return l, s


print(max_min([0, 10, 15, 40, -5, 42, 17, 28, 75]))

0 0
0 0
10 0
15 0
40 0
40 -5
42 -5
42 -5
42 -5
(75, -5)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [56]:
def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
           print([x, y])
           if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

[1, 5]
[1, 6]
[1, 7]
[1, 8]
[1, 9]
[2, 5]
[2, 6]
[2, 7]
[2, 8]
[2, 9]
[3, 5]
[3, 6]
[3, 7]
[3, 8]
[3, 9]
[4, 5]
[4, 6]
[4, 7]
[4, 8]
[4, 9]
[5, 5]
True
[1, 6]
[1, 7]
[1, 8]
[1, 9]
[2, 6]
[2, 7]
[2, 8]
[2, 9]
[3, 6]
[3, 7]
[3, 8]
[3, 9]
[4, 6]
[4, 7]
[4, 8]
[4, 9]
[5, 6]
[5, 7]
[5, 8]
[5, 9]
None

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [57]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 9
362880

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [92]:
def range_x(Xlst):
    result = False
    for i in Xlst :
      
      if ((i > 2) and (i < 12)):
          result = True
          print(i, result)
      else:
            result = False 
            print(i, result)   

    return 

range_x([1, 2, 33, 4, 7, 23, 5])

1 False
2 False
33 False
4 True
7 True
23 False
5 True

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [93]:
n = int(input("Input a number: "))

# use for loop to iterate 10 times
for i in range(1,11):
   print(n,'x',i,'=',n*i)

Input a number: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [123]:
def lesser_of_two_evens(a,b):
    if (a % 2 == 0 and b % 2 ==0) :
        if b < a:
            print(b)
            
        else :
            print(a) 
              
    elif(a % 2 == 0 or b % 2 ==0 ):
        if a > b:
            print(a)
        else:
            print(b)  
            
lesser_of_two_evens(2,4)
lesser_of_two_evens(2,5)

2
5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True 

1.   List item
2.   List item

if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [130]:
def animal_crackers(text):
    wordlist = text.split()
    if wordlist[0][0] == wordlist[1][0]:
      print(True)
    else:
      print(False)

animal_crackers('Levelheaded Llama')

True

In [131]:
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [136]:
def makes_twenty(n1,n2):
  if((n1+n2)==20 or n1==20 or n2==20):
    print(True)
  else:
      print(False)
  
makes_twenty(20,10)

True

In [137]:
makes_twenty(12,8)

True

In [138]:
makes_twenty(2,3)

False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [139]:
def almost_there(n):
    if((abs(100 - n) <= 10) or (abs(200 - n) <= 10)):
      print(True)
    else:
      print(False)
almost_there(90)

True

In [140]:
almost_there(104)

True

In [141]:
almost_there(150)

False

In [142]:
almost_there(209)

True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [165]:
def blackjack(a,b,c):
    #sum(a,b,c) = float (a + b + c)
    if sum((a,b,c)) <= 21:
       return print(sum((a,b,c)))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
       return print(sum((a,b,c)) - 10)
    else:
       return print('BUST')
blackjack(5,6,7)

18

In [166]:
blackjack(9,9,9)

BUST

In [167]:
blackjack(9,9,11)

19